JobKeeper-data-20200731.xlsx
absmaps
anzsic_2006.xlsx
cabee_sa2.xls
dss
employment by industry detailed.xlsx
employment_by_industry_and_state.csv
employment_by_industry_by_sa2.zip
internet_vacancies_basic.xlsx
internet_vacancies_skill.xlsx
labour_account.xls
labour_force.csv
labour_force_raw.csv
mesh_aus2016.rds
payroll_index.xlsx
payroll_sa4.xlsx
postal_areas.zip
salm_sa2.csv
underemployment_by_industry_and_occupation.csv
5220002_Annual_NSW.xls
6160055001_DO004.xlsx
81550do003_201819.xls
degree2_2016_ur.csv
employment_industry2_2016_pow.csv
employment_occupation2_2016_ur.csv
november-2020.xlsx
october-2020.xlsx
sa2_pow_sa3_ur_travel_mode.csv
sa2_pow_ur.csv
6160055001_DO005.xlsx
payroll_substate.xlsx
1270055003_poa_2016_aust_csv.zip
sa3_indp2_occp2.csv
